.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/*TODO || Formulario de pago || */
.titulo-compra{
    font-family: Pacifico, cursive;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 2rem;
    font-weight: 600;
    color: #0B7C83;
    margin-top: 5rem;
}

.box-payment{                            /*Caja del formulario*/
    align-items: center;
    display: flex;
    justify-content: center;
    background: #68cbe9;
    border-radius: 2rem;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    width: 70%;
    margin: auto;
}


/*TODO || Tabla de datos || */
#procesar-pago{                     /*Caja de los datos*/
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 50px;
}

.box-data-user{ /*Caja de datos (Nombre / email)*/
    width: 100%;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr); /* 3 columnas iguales */
    gap: 10px; /* Espacio entre celdas */
}
.info-name-user{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #fff;
    align-content: center;
}
.box-info-user{
    height: 2rem;
    margin: 0;
}

/*TODO || Tabla de productos || */
.tabla-box{                             /*Caja de productos*/
    width: 100%;
    background: rgb(236, 232, 232);
}
#lista-compra{                                 /*Cuerpo de la tabla*/
    border: solid black;
    margin: 0;
    width: 100%;
}
.fila-box{                              /*Fila de títulos*/     
    width: 16%;
    background-color: #0B7C83;
    color: #fff;
}
.fila-dato{                             /*Filas de de datos de los productos*/
    border: solid black;
    text-align: center;
    font-size: 14px;
    align-content: center;
}
.fila-suma{                             /*Filas del cálculo de la suma de los precios*/
    font-size: 14px;
    align-content: center;
    border: solid black;
    text-align: center;
}

#total{                                 /*Input de la suma total*/
    background: rgb(236, 232, 232);
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    align-content: center;
}

.cantidad{
    text-align: center;
    width: 60px;
}

/*TODO || Botones y Gif || */
.botones-box{
    display: flex;
    justify-content:end;
    margin-top: 1rem;
    width: 100%;
    gap: 20px;
}

.btn-compra{
    background:#0B7C83;
    width: 170px;
    font-size:1rem;
    border-radius: .5rem;
    border: none;
    height: 2.5rem;
    padding: .5rem;
    text-decoration: none;
    color: #fff;
}
.btn-compra:hover{
    background: #074a4f;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
    color: #fff;
	cursor: pointer;
}

.borrar-producto{
    font-size: 20px;
    text-decoration: none;
    color: #C82909;
}

.borrar-producto:hover{
    color: red;
}

td{
    border: solid black;
    align-content: center;
}