.contenedor figure{
    position:relative;
    height: 200px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 31, 37, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
}

.contenedor figure:hover > img{
    transform: scale(1.3);
}

.contenedor figure .capa p{
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
    padding: 1rem;
}