/*TODO || Barra de navegación || */
.panel{
    background: #67c8e6; 
    padding: 10px 30px;
}

.btn-inicio, .btn-carro{
    color: #dff7f8;
    font-size: 25px;
}

.btn-inicio:hover, .btn-carro:hover{
    color:#0B7C83;
    cursor: pointer;
}

.btn-salir{
    border-radius: 1rem;
    width: 80px;
    padding: 10px;
    background:#dff7f8;
    border:none;
    font-weight: 600;
    font-size: small;
}

.btn-salir:hover{
    background:#0B7C83;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

.table{                     /*Tabla carrito de compras*/
    width: 350px;
    text-align: center;
}

.caja-btn-carrito{
    display: flex;
    justify-content: space-evenly;
}

td{
    align-content: center;
    font-size: 14px;
}
.borrar-producto{
    color: #C82909;
    font-size: 18px;
}

.borrar-producto:hover{
    color: red;
    cursor: pointer;
}

.btn-vaciar, .btn-comprar{
    text-align: center;
    color: black;
    border-radius: 1rem;
    width: 40%;
    padding: 10px;
    border:none;
    font-weight: 600;
    font-size: small;
    text-decoration: none;
}

.btn-vaciar{
    background:#dff7f8;
}
.btn-comprar{
    background:#6feb94;
}

.btn-vaciar:hover, .btn-comprar:hover{
    background:#0B7C83;
    color: white;
}

/*TODO || Titulo y subtítulo || */
.titulo{
    font-family: Pacifico, cursive;
    color:#0B7C83;
    /* text-shadow: 2px 5px 5px rgba(0, 0, 0, .6); */
    margin-top: 5rem;
    text-align: center;
}
.lead{
    font-weight: 600;
    font-family: Pacifico, cursive;
    text-decoration: underline rgb(23, 169, 177); 
}

/*TODO || Productos || */
#lista-productos{                           /*Contenedor de todos los productos*/
    width: 70%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    gap: 1rem;
}

.img-card{                                  /*Caja de un producto*/
    text-align: center;
    background: #F0FEFF;
    border-radius: 10px;
    padding-bottom: 10px;
}

.card-header{
    background:#0B7C83;
    padding: 10px 0;
}
.titulo-producto{
    font-size: 18px;
    font-weight: 600;
    color: #F0FEFF;
    padding: 0;
    margin: 0;
}

.contenedor{                                /*Caja de imágen y descripción*/
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box-info-product{ /*Caja de datos (Nombre / email)*/
    width: 100%;
    display: grid;
    padding: 0 15px;
    grid-template-columns: repeat(1, 2fr 1fr); /* 3 columnas iguales */
}

.precio{
    font-size: medium;
    font-weight: 600;
    margin: 0;
    align-content: center;
    text-align: start;
}

.btn-add{
    border-radius: 10px;
    width: 100%;
    background:#0B7C83;
    color: aliceblue;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-weight: 600;
}

.btn-add:hover{
    background:#197379;
    color: aliceblue;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
	cursor: pointer;
}

@media (min-width: 1400px) {
    #lista-productos{
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    }
}

a{
    text-decoration: none;
}